<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">{{ titleBar }}</h4>
                        <p class="card-category">Clase</p>
                    </div>
                    <div class="card-body">
                        <div *ngIf="isStudentClassroomLoaded && !studentClassroom" class="text-center">
                            <p><span>Actualmente no porteneces a ninguna clase, pulse el siguiente botón para unirse a una:</span></p>
                            <button type="button" class="btn btn-success" (click)="goToJoinClass()">
                                Unirse a una clase
                            </button>
                        </div>
                        <div *ngIf="isStudentClassroomLoaded && studentClassroom && studentClassroom.studentClassroomStatusCode === 0" class="text-center">
                            <p><span>Tu solicitud ha sido enviada. Debe eseperar hasta que el profesor la acepte.</span></p>
                            <p><span>Si desea cancelar su solicitud por favor pulse el siguiente botón</span></p>
                            <button type="button" class="btn btn-light" (click)="openConfirmDeleteJoinClassroomRequest(confirmDeleteJoinClassroomRequest)">
                                Eliminar solicitud
                            </button>
                        </div>
                        <div *ngIf="isStudentClassroomLoaded && studentClassroom && studentClassroom.studentClassroomStatusCode === 1" class="text-center">
                            <p><span>Tu solicitud ha sido aceptada. Ya formas parte de la clase!!</span></p>
                            <button type="button" class="btn btn-light" (click)="openConfirmDeleteJoinClassroomRequest(confirmDeleteJoinClassroomRequest)" hidden>
                                Salir de la clase
                            </button>
                        </div>
                        <div *ngIf="isStudentClassroomLoaded && studentClassroom && studentClassroom.studentClassroomStatusCode === 2" class="text-center">
                            <p><span>Tu solicitud ha sido rechazada. Hable son su profesor.</span></p>
                            <button type="button" class="btn btn-light" (click)="openConfirmDeleteJoinClassroomRequest(confirmDeleteJoinClassroomRequest)" hidden>
                                Eliminar solicitud
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #confirmDeleteJoinClassroomRequest let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Eliminar</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Está seguro de que desea eliminar esta solicitud?
      <span class="text-danger">Esta acción no se podrá revertir.</span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="cancelDialog(modal)">Cancelar</button>
      <button type="button" ngbAutofocus class="btn btn-danger" (click)="submitDeleteJoinClassroomRequestDialog(modal)">Ok</button>
    </div>
  </ng-template>
