<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a class="nav-link" [routerLink]="['/public/licenses']" target="_blank">
                        Licencias
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, realizado por Pedro Pablo Doménech.
        </div>
    </div>
</footer>
