<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">{{ titleBar }}</h4>
                        <p class="card-category">Clase</p>
                    </div>
                    <div class="card-body">
                        <form *ngIf="formGroup" [formGroup]="formGroup" (submit)="submitFormAction()">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput formControlName="code" placeholder="Código para solicitar unirse" type="text" maxlength="15" minlength="15"/>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <textarea matInput formControlName="message" placeholder="{{ 'Mensaje para el profesor (' + formGroup.get('message').value.length + '/4000)' }}" type="text" rows="5" maxlength="4000"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-success pull-right">
                                Solicitar unirse
                            </button>
                            <button type="button" mat-raised-button class="btn btn-light pull-right" (click)="cancelFormAction()">
                                Cancelar
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
