<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{ titleBar }}</h4>
                        <p class="card-category">Clase</p>
                    </div>
                    <div class="card-body">
                        <form *ngIf="formGroup" [formGroup]="formGroup" (submit)="submitFormAction()">
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field>
                                        <input matInput formControlName="name" placeholder="Nombre de la clase" maxlength="100" required />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input matInput formControlName="schoolName" placeholder="Nombre del colegio" maxlength="100"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput formControlName="schoolGrade" placeholder="Curso" maxlength="100"/>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <textarea matInput formControlName="description" placeholder="{{ 'Descripción (' + formGroup.get('description').value.length + '/4000)' }}" type="text" rows="5" maxlength="4000"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput formControlName="code" placeholder="Código para solicitar unirse" type="text" maxlength="15" minlength="15"/>
                                        <button type="button" mat-button mat-icon-button matSuffix (click)="copyCodeToClipboard()" matTooltip="Copiar código en el portapapeles">
                                            <mat-icon>content_copy</mat-icon>
                                        </button>
                                        <button type="button" mat-button mat-icon-button matSuffix (click)="generateCode()" matTooltip="Generar un nuevo código">
                                            <mat-icon>replay</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                                Guardar
                            </button>
                            <button type="button" mat-raised-button class="btn btn-light pull-right" (click)="cancelFormAction()">
                                Cancelar
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
