<ng-container class="container">
    <div class="card mx-auto" style="width: 50vw; border-radius: 1rem; height: fit-content">
        <div class="card-body">
            <h2 class="card-title" style="text-align: center;">Licencias</h2>
            <h3 class="mt-5">Creative Tim</h3>
            <p>Esta web ha sido diseñada utilizando la plantilla gratuira "Material Dashboard" de <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.</p>
            <h3 class="mt-5">ARASAAC</h3>
            <p>Los símbolos pictográficos utilizados son propiedad del Gobierno de Aragón y han sido creados por Sergio Palao para ARASAAC (<a href="http://www.arasaac.org" target="_blank">http://www.arasaac.org</a>), que los distribuye bajo Licencia Creative Commons BY-NC-SA.</p>
            <h3 class="mt-5">Pixabay</h3>
            <p>El robot que representa al BUENO del juego CrazyWords ha sido diseñado por <a href="https://pixabay.com/es/users/openclipart-vectors-30363/" target="_blank">OpenClipart-Vectors</a>.</p>
            <h3 class="mt-5">Freepik</h3>
            <p>El robot que representa al MALO del juego CrazyWords ha sido diseñado por <a href="http://www.freepik.com" target="_blank">GraphicMama</a>.</p>
        </div>
    </div>
</ng-container>
