<div class="main-content">
    <div class="container-fluid">
        <app-student-statistics-parts-header *ngIf="studentStatistics" [data]="studentStatistics" class="row"></app-student-statistics-parts-header>
        <app-student-statistics-parts-charts *ngIf="studentStatistics" [data]="studentStatistics" class="row"></app-student-statistics-parts-charts>
    </div>
</div>
