<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Aceptadas">
        <app-generic-list #aceptedRequestsList *ngIf="studentClassrooms && columnsDefinitions"
            [headerButtons]="null"
            [listTitle]="'Listado de peticiones de alumnos'"
            [listSubtitle]="'Aceptadas'"
            [dataList]="studentClassroomsForDataSourceModelAcepted"
            [columns]="columnsDefinitions"
            [isEditButtonVisible]="false"
            [isDeleteButtonVisible]="true"
            [isShowButtonVisible]="true"
            [isAcceptButtonVisible]="false"
            [isCancelButtonVisible]="false"
            (deleteRowEvent)="deleteStudentClassroom($event)"
            (editRowEvent)="null"
            (showRowInformationEvent)="showStudentJoinRequestInformation($event, studentJoinRequestInformationModal)"
            (acceptRowEvent)="null"
            (cancelRowEvent)="null"
        >
        </app-generic-list>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span *ngIf="studentClassroomsForDataSourceModelPending.length > 0" matBadge="{{studentClassroomsForDataSourceModelPending.length}}" matBadgeOverlap="false" matBadgeColor="warn">Pendientes</span>
            <span *ngIf="studentClassroomsForDataSourceModelPending.length == 0">Pendientes</span>
        </ng-template>
        <app-generic-list #pendingRequestsList *ngIf="studentClassrooms && columnsDefinitions"
            [headerButtons]="null"
            [listTitle]="'Listado de peticiones de alumnos'"
            [listSubtitle]="'Pendientes'"
            [dataList]="studentClassroomsForDataSourceModelPending"
            [columns]="columnsDefinitions"
            [isEditButtonVisible]="false"
            [isDeleteButtonVisible]="false"
            [isShowButtonVisible]="true"
            [isAcceptButtonVisible]="true"
            [isCancelButtonVisible]="true"
            (deleteRowEvent)="null"
            (editRowEvent)="null"
            (showRowInformationEvent)="showStudentJoinRequestInformation($event, studentJoinRequestInformationModal)"
            (acceptRowEvent)="acceptStudentClassroom($event)"
            (cancelRowEvent)="cancelStudentClassroom($event)"
        >
        </app-generic-list>
    </mat-tab>
    <mat-tab label="Rechazadas">
        <app-generic-list #rejectedRequestsList *ngIf="studentClassrooms && columnsDefinitions"
            [headerButtons]="null"
            [listTitle]="'Listado de peticiones de alumnos'"
            [listSubtitle]="'Rechazadas'"
            [dataList]="studentClassroomsForDataSourceModelRejected"
            [columns]="columnsDefinitions"
            [isEditButtonVisible]="false"
            [isDeleteButtonVisible]="true"
            [isShowButtonVisible]="true"
            [isAcceptButtonVisible]="true"
            [isCancelButtonVisible]="false"
            (deleteRowEvent)="deleteStudentClassroom($event)"
            (editRowEvent)="null"
            (showRowInformationEvent)="showStudentJoinRequestInformation($event, studentJoinRequestInformationModal)"
            (acceptRowEvent)="acceptStudentClassroom($event)"
            (cancelRowEvent)="null"

        >
        </app-generic-list>
    </mat-tab>
</mat-tab-group>


<ng-template #studentJoinRequestInformationModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Información de la solicitud</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-container *ngIf="studentClassroomToShow">
        <p><strong class="text-primary">Nombre del alumno: </strong><span>{{ studentClassroomToShow.student.name }}</span></p>
        <p><strong class="text-primary">Mensaje: </strong><span>{{ studentClassroomToShow.message }}</span></p>
        <p><strong class="text-primary">Estado: </strong><span>{{ getStudentJoinRequestStatusByCode(studentClassroomToShow.studentClassroomStatusCode) }}</span></p>
        <a [routerLink]="['/teachers/student-statistics/' + studentClassroomToShow.student.userId]">Ver progreso</a>
      </ng-container>
    </div>
  </ng-template>
