<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger row">
                        <div class="col">
                            <h4 class="card-title ">{{ listTitle }}</h4>
                            <p class="card-category">{{ listSubtitle }}</p>
                        </div>
                        <div class="col" *ngIf="headerButtons">
                            <button *ngFor="let headerButton of headerButtons" mat-raised-button type="submit" class="{{'btn ' + headerButton.classes + ' pull-right' }}" (click)="headerButton.clickAction()">
                                {{ headerButton.name }}
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" class="table table-hover" matSort>
                                <ng-container *ngFor="let colum of columns" matColumnDef="{{ colum.matColumnDef }}">
                                    <thead>
                                        <th class="text-primary" mat-header-cell *matHeaderCellDef mat-sort-header>{{ colum.columnName }}</th>
                                    </thead>
                                    <tbody>
                                        <td mat-cell *matCellDef="let row"> {{ row[colum.matColumnDef].viewValue }} </td>
                                    </tbody>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <thead>
                                        <th class="text-primary" mat-header-cell *matHeaderCellDef mat-sort-header></th>
                                    </thead>
                                    <tbody>
                                        <td mat-cell *matCellDef="let row">
                                            <button *ngIf="isDeleteButtonVisible" type="button" class="pull-right" mat-button mat-icon-button matSuffix (click)="openDialog(confirmDelete, row['id'].element)" matTooltip="Eliminar">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                            <button *ngIf="isEditButtonVisible" type="button" class="pull-right" mat-button mat-icon-button matSuffix (click)="goToEditForm(row['id'].element)" matTooltip="Editar">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button *ngIf="isCancelButtonVisible" type="button" class="pull-right" mat-button mat-icon-button matSuffix (click)="notifyCancelEvent(row['id'].element)" matTooltip="Rechazar">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <button *ngIf="isAcceptButtonVisible" type="button" class="pull-right" mat-button mat-icon-button matSuffix (click)="notifyAcceptEvent(row['id'].element)" matTooltip="Aceptar">
                                                <mat-icon>check</mat-icon>
                                            </button>
                                            <button *ngIf="isShowButtonVisible" type="button" class="pull-right" mat-button mat-icon-button matSuffix (click)="showRowInformation(row['id'].element)" matTooltip="Ver">
                                                <mat-icon>visibility</mat-icon>
                                            </button>
                                        </td>
                                    </tbody>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No hay datos disponibles</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Eliminar</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿Está seguro de que desea eliminar este elemento?
    <span class="text-danger">Esta acción no se podrá revertir.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="cancelDialog(modal)">Cancelar</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="submitDialog(modal)">Ok</button>
  </div>
</ng-template>
