<ng-container class="container">
    <div class="card mx-auto my-auto" style="width: 30rem; border-radius: 1rem; height: fit-content">
        <div class="card-body">
            <h3 class="card-title" style="text-align: center;">Registro</h3>
            <form class="card-text" style="margin-left: 10%;" [formGroup]="registerForm" (submit)="onSubmit()">
                <ng-container>
                    <label for="email-form-input" style="margin-top: 1rem; width: 100%;">Email</label>

                    <input id="email-form-input" placeholder="ejemplo@school-app.com" type="text" formControlName="email" required/>
                </ng-container>

                <ng-container>
                    <label for="name-form-input" style="margin-top: 1rem; width: 100%;">Nombre</label>

                    <input id="name-form-input" placeholder="Pedro Pablo Doménech" type="text" formControlName="name" required/>
                </ng-container>

                <ng-container>
                    <label for="password-form-input" style="margin-top: 1rem; width: 100%;">Contraseña:</label>

                    <input id="password-form-input" placeholder="•••••••••••" type="password" formControlName="password" required/>
                </ng-container>

                <ng-container>
                    <label for="confirm-password-form-input" style="margin-top: 1rem; width: 100%;">Repite tu contraseña:</label>

                    <input id="confirm-password-form-input" placeholder="•••••••••••" type="password" formControlName="confirmPassword" required/>
                </ng-container>

                <ng-container>
                    <label for="role-form-input-toogle" style="margin-top: 1rem; width: 100%;">Rol:</label>
                    <div class="col">
                        <mat-label ngClass="labelBeforeSlide">Alumno</mat-label>
                        <mat-slide-toggle #isTeacherToggle id="role-form-input-toogle" formControlName="isTeacher"></mat-slide-toggle>
                        <mat-label ngClass="labelAfterSlide">Profesor</mat-label>
                    </div>
                </ng-container>

                <button class="btn btn-primary submit-register rounded-pill" type="submit" style="margin-top: 1.5rem;">Registrarse</button>
            </form>
            ¿Tiene ya cuenta? <a routerLink="/public/login">Inicie sesión</a>
        </div>
    </div>
</ng-container>
