<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="!playButtonClicked" class="card text-center" style="width: 18rem;">
            <img src="assets/img/LogoLargoGrande.PNG" class="card-img-top" alt="CrazyWords">
            <div class="card-body">
              <!-- <h3 class="card-title">CrazyWords</h3> -->
              <a (click)="onClickPlayButton()" class="btn btn-primary">Jugar</a>
            </div>
        </div>
        <div class="row" [hidden]="!playButtonClicked">
            <div class="col-md-12">
                <div id="unity-container" class="unity-desktop">
                <canvas id="unity-canvas"></canvas>
                <div id="unity-loading-bar">
                    <div id="unity-logo"></div>
                    <div id="unity-progress-bar-empty">
                    <div id="unity-progress-bar-full"></div>
                    </div>
                </div>
                <div id="unity-footer">
                    <div id="unity-webgl-logo"></div>
                    <div id="unity-fullscreen-button"></div>
                    <div id="unity-build-title">CrazyWords</div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
