/* You can add global styles to this file, and also import other style files */
app-login, app-register{
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('./assets/background.webp');
}

/* body{
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('./assets/background.webp');
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
